In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# pandas读取excel文件

In [5]:
data = pd.ExcelFile(r'data/pingan/平安原保费.xlsx')

In [6]:
# 获取各工作表名称
data.sheet_names

['2018', '2017', '2016']

In [28]:
#读取某个工作表
df_test = data.parse('2018')
df_test

                 M1          M2  M3  M4  M5  M6  M7  M8  M9  M10  M11  M12
控股子公司           NaN         NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安财险      2742772.0   4216539.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安寿险     11522182.0  14698076.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安养老险      190517.0    319710.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安健康险       33603.0     51765.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
寿险业务            NaN         NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
个人业务     11596221.0  14809769.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
新业务       3911078.0   4892811.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
续期业务      7685143.0   9916958.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
团体业务       150081.0    259782.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
新业务        149772.0    259327.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
续期业务          309.0       455.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
合计       11746302.0  15069551.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安财险            NaN         NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
车险        1903357.0   2972445.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
非机动车辆保险    748007.0   1097075.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
意外与健康保险     91408.0    147019.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
合计        2742772.0   4216539.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN

In [29]:
df_test = pd.read_excel(r'data/pingan/平安原保费.xlsx', sheet_name='2018')
df_test

                 M1          M2  M3  M4  M5  M6  M7  M8  M9  M10  M11  M12
控股子公司           NaN         NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安财险      2742772.0   4216539.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安寿险     11522182.0  14698076.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安养老险      190517.0    319710.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安健康险       33603.0     51765.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
寿险业务            NaN         NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
个人业务     11596221.0  14809769.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
新业务       3911078.0   4892811.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
续期业务      7685143.0   9916958.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
团体业务       150081.0    259782.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
新业务        149772.0    259327.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
续期业务          309.0       455.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
合计       11746302.0  15069551.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
平安财险            NaN         NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
车险        1903357.0   2972445.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
非机动车辆保险    748007.0   1097075.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
意外与健康保险     91408.0    147019.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
合计        2742772.0   4216539.0 NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN

# 数据整合

In [77]:
def get_year_original_premium(year):
    #读取excel文件
    df = pd.read_excel(r'data/pingan/平安原保费.xlsx', sheet_name=year)
    #先删除空行后删除空列
#     df = df.dropna(axis=1, how='all')
    df = df.dropna(axis=0, how='all').dropna(axis=1, how='all')
    #转置时间为索引
    df = df.T
    #设置月份时间索引
    dates = pd.date_range(year+'-01-31',year+'-12-31',freq='M')[:len(df)]
    index = dates.to_period('M')
    df = df.set_index(index)
    return df

In [78]:
df_2016 = get_year_original_premium('2016')
df_2016

,平安财险,平安寿险,平安养老险,平安健康险,个人寿险,新业务,续期业务,银行保险,新业务,续期业务,团体业务,新业务,续期业务,合计,车险,非机动车辆保险,意外与健康保险,合计
2016-01,1991090.0,6788562.0,147061.0,9085.0,6055209.0,2558126.0,3497083.0,733209.0,670284.0,62925.0,156290.0,156158.0,132.0,6944708.0,1657207.0,275402.0,58481.0,1991090.0
2016-02,2951616.0,8715423.0,245482.0,13373.0,7852705.0,3195138.0,4657567.0,862488.0,746535.0,115953.0,259085.0,258859.0,226.0,8974278.0,2522481.0,343269.0,85866.0,2951616.0
2016-03,4355208.0,10666279.0,497307.0,19150.0,9669568.0,3841791.0,5827777.0,996544.0,825833.0,170711.0,516624.0,516273.0,351.0,11182736.0,3729264.0,492371.0,133573.0,4355208.0
2016-04,5701774.0,12509887.0,651190.0,23080.0,11454219.0,4515213.0,6939006.0,1054568.0,852215.0,202353.0,675370.0,674843.0,527.0,13184157.0,4908107.0,617152.0,176515.0,5701774.0
2016-05,6994868.0,14424301.0,793287.0,27049.0,13291199.0,5193279.0,8097920.0,1132506.0,893289.0,239217.0,820932.0,820303.0,629.0,15244637.0,6015011.0,766304.0,213553.0,6994868.0
2016-06,8378479.0,16334756.0,923754.0,31375.0,15124947.0,5915639.0,9209308.0,1208941.0,931024.0,277917.0,955997.0,955105.0,892.0,17289885.0,7062772.0,1062451.0,253256.0,8378479.0
2016-07,9778118.0,18089372.0,1011381.0,37372.0,16820107.0,6581777.0,10238330.0,1268240.0,949380.0,318860.0,1049778.0,1048859.0,919.0,19138125.0,8165107.0,1320191.0,292820.0,9778118.0
2016-08,11176883.0,19934763.0,1117947.0,51645.0,19933607.0,8287343.0,11646264.0,NaN,NaN,NaN,1170748.0,1169699.0,1049.0,21104355.0,9268421.0,1576236.0,332226.0,11176883.0
2016-09,12742741.0,21849090.0,1254176.0,60726.0,21847120.0,9001439.0,12845681.0,NaN,NaN,NaN,1316872.0,1315571.0,1301.0,23163992.0,10540924.0,1820131.0,381686.0,12742741.0
2016-10,14180000.0,23637364.0,1372479.0,66141.0,23635205.0,9623349.0,14011856.0,NaN,NaN,NaN,1440779.0,1439283.0,1496.0,25075984.0,11755221.0,2002384.0,422395.0,14180000.0
2016-11,15828824.0,25424405.0,1443266.0,71676.0,25423388.0,10273546.0,15149842.0,NaN,NaN,NaN,1515959.0,1514123.0,1836.0,26939347.0,13135961.0,2233394.0,459469.0,15828824.0
2016-12,17790765.0,27518152.0,1529367.0,78839.0,27517909.0,11033128.0,16484781.0,NaN,NaN,NaN,1608449.0,1606482.0,1967.0,29126358.0,14850066.0,2445242.0,495457.0,17790765.0

In [79]:
df_2017 = get_year_original_premium('2017')
df_2017

,平安财险,平安寿险,平安养老险,平安健康险,个人业务,新业务,续期业务,团体业务,新业务,续期业务,合计,车险,非机动车辆保险,意外与健康保险,合计
2017-01,2371673.0,9485343.0,127818.0,18273.0,9487722.0,4433720.0,5054002.0,143712.0,143613.0,99.0,9631434.0,1775240.0,537257.0,59176.0,2371673.0
2017-02,3574135.0,12199343.0,283438.0,29600.0,12205319.0,5595738.0,6609581.0,307062.0,306887.0,175.0,12512381.0,2730955.0,749489.0,93691.0,3574135.0
2017-03,5366083.0,15147383.0,536999.0,50118.0,15164087.0,6957978.0,8206109.0,570413.0,570124.0,289.0,15734500.0,4103534.0,1111284.0,151265.0,5366083.0
2017-04,6992377.0,17692159.0,701835.0,65109.0,17746040.0,8002132.0,9743908.0,713063.0,712610.0,453.0,18459103.0,5414526.0,1377278.0,200573.0,6992377.0
2017-05,8644099.0,20174827.0,860358.0,82080.0,20266188.0,8944318.0,11321870.0,851077.0,850529.0,548.0,21117265.0,6741464.0,1653691.0,248944.0,8644099.0
2017-06,10344297.0,22651627.0,1020768.0,98247.0,22783107.0,9875961.0,12907146.0,987535.0,986789.0,746.0,23770642.0,8026026.0,2015786.0,302485.0,10344297.0
2017-07,12089382.0,24887885.0,1126811.0,123550.0,25061935.0,10691198.0,14370737.0,1076311.0,1075478.0,833.0,26138246.0,9363517.0,2368458.0,357407.0,12089382.0
2017-08,13857289.0,27229132.0,1245374.0,140786.0,27442000.0,11556600.0,15885400.0,1173292.0,1172340.0,952.0,28615292.0,10745340.0,2698124.0,413825.0,13857289.0
2017-09,15750696.0,29790713.0,1436107.0,165755.0,30090870.0,12610216.0,17480654.0,1301705.0,1300476.0,1229.0,31392575.0,12241793.0,3028465.0,480438.0,15750696.0
2017-10,17383988.0,32055333.0,1585138.0,180749.0,32399433.0,13423332.0,18976101.0,1421787.0,1420048.0,1739.0,33821220.0,13579609.0,3270521.0,533858.0,17383988.0
2017-11,19323442.0,34287048.0,1675026.0,197887.0,34671788.0,14246624.0,20425164.0,1488173.0,1485922.0,2251.0,36159961.0,15111292.0,3620414.0,591736.0,19323442.0
2017-12,21598387.0,36893425.0,1756028.0,214722.0,37313856.0,15164150.0,22149706.0,1550319.0,1547830.0,2489.0,38864175.0,17050804.0,3892937.0,654646.0,21598387.0

In [80]:
df_2018 = get_year_original_premium('2018')
df_2018

,平安财险,平安寿险,平安养老险,平安健康险,个人业务,新业务,续期业务,团体业务,新业务,续期业务,合计,车险,非机动车辆保险,意外与健康保险,合计
2018-01,2742772.0,11522182.0,190517.0,33603.0,11596221.0,3911078.0,7685143.0,150081.0,149772.0,309.0,11746302.0,1903357.0,748007.0,91408.0,2742772.0
2018-02,4216539.0,14698076.0,319710.0,51765.0,14809769.0,4892811.0,9916958.0,259782.0,259327.0,455.0,15069551.0,2972445.0,1097075.0,147019.0,4216539.0

In [68]:
dfs = [get_year_original_premium(i) for i in ['2016', '2017', '2018']]

In [73]:
df = pd.concat(dfs, axis=1)
df

,平安财险,平安寿险,平安养老险,平安健康险,个人寿险,新业务,续期业务,银行保险,新业务,续期业务,...,新业务,续期业务,团体业务,新业务,续期业务,合计,车险,非机动车辆保险,意外与健康保险,合计
2016-01,1991090.0,6788562.0,147061.0,9085.0,6055209.0,2558126.0,3497083.0,733209.0,670284.0,62925.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02,2951616.0,8715423.0,245482.0,13373.0,7852705.0,3195138.0,4657567.0,862488.0,746535.0,115953.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-03,4355208.0,10666279.0,497307.0,19150.0,9669568.0,3841791.0,5827777.0,996544.0,825833.0,170711.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-04,5701774.0,12509887.0,651190.0,23080.0,11454219.0,4515213.0,6939006.0,1054568.0,852215.0,202353.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-05,6994868.0,14424301.0,793287.0,27049.0,13291199.0,5193279.0,8097920.0,1132506.0,893289.0,239217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06,8378479.0,16334756.0,923754.0,31375.0,15124947.0,5915639.0,9209308.0,1208941.0,931024.0,277917.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07,9778118.0,18089372.0,1011381.0,37372.0,16820107.0,6581777.0,10238330.0,1268240.0,949380.0,318860.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08,11176883.0,19934763.0,1117947.0,51645.0,19933607.0,8287343.0,11646264.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09,12742741.0,21849090.0,1254176.0,60726.0,21847120.0,9001439.0,12845681.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10,14180000.0,23637364.0,1372479.0,66141.0,23635205.0,9623349.0,14011856.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11,15828824.0,25424405.0,1443266.0,71676.0,25423388.0,10273546.0,15149842.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12,17790765.0,27518152.0,1529367.0,78839.0,27517909.0,11033128.0,16484781.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3911078.0,7685143.0,150081.0,149772.0,309.0,11746302.0,1903357.0,748007.0,91408.0,2742772.0
2018-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4892811.0,9916958.0,259782.0,259327.0,455.0,15069551.0,2972445.0,1097075.0,147019.0,4216539.0

# 各子公司数据

In [84]:
def get_company(df):
    return df.iloc[:,:4]

In [118]:
def get_life_insurance(df):
    return df.iloc[:,4:-4]

In [125]:
def get_asset_insurance(df):
    return df.iloc[:,-4:]

In [119]:
companys = [get_company(i) for i in [df_2016, df_2017, df_2018]]
company = pd.concat(companys, axis=0)
company

               平安财险        平安寿险      平安养老险     平安健康险
2016-01   1991090.0   6788562.0   147061.0    9085.0
2016-02   2951616.0   8715423.0   245482.0   13373.0
2016-03   4355208.0  10666279.0   497307.0   19150.0
2016-04   5701774.0  12509887.0   651190.0   23080.0
2016-05   6994868.0  14424301.0   793287.0   27049.0
2016-06   8378479.0  16334756.0   923754.0   31375.0
2016-07   9778118.0  18089372.0  1011381.0   37372.0
2016-08  11176883.0  19934763.0  1117947.0   51645.0
2016-09  12742741.0  21849090.0  1254176.0   60726.0
2016-10  14180000.0  23637364.0  1372479.0   66141.0
2016-11  15828824.0  25424405.0  1443266.0   71676.0
2016-12  17790765.0  27518152.0  1529367.0   78839.0
2017-01   2371673.0   9485343.0   127818.0   18273.0
2017-02   3574135.0  12199343.0   283438.0   29600.0
2017-03   5366083.0  15147383.0   536999.0   50118.0
2017-04   6992377.0  17692159.0   701835.0   65109.0
2017-05   8644099.0  20174827.0   860358.0   82080.0
2017-06  10344297.0  22651627.0  1020768.0   98247.0
2017-07  12089382.0  24887885.0  1126811.0  123550.0
2017-08  13857289.0  27229132.0  1245374.0  140786.0
2017-09  15750696.0  29790713.0  1436107.0  165755.0
2017-10  17383988.0  32055333.0  1585138.0  180749.0
2017-11  19323442.0  34287048.0  1675026.0  197887.0
2017-12  21598387.0  36893425.0  1756028.0  214722.0
2018-01   2742772.0  11522182.0   190517.0   33603.0
2018-02   4216539.0  14698076.0   319710.0   51765.0

In [126]:
asset_insurances = [get_asset_insurance(i) for i in [df_2016, df_2017, df_2018]]
asset_insurance = pd.concat(asset_insurances, axis=0)
asset_insurance

                 车险    非机动车辆保险   意外与健康保险          合计
2016-01   1657207.0   275402.0   58481.0   1991090.0
2016-02   2522481.0   343269.0   85866.0   2951616.0
2016-03   3729264.0   492371.0  133573.0   4355208.0
2016-04   4908107.0   617152.0  176515.0   5701774.0
2016-05   6015011.0   766304.0  213553.0   6994868.0
2016-06   7062772.0  1062451.0  253256.0   8378479.0
2016-07   8165107.0  1320191.0  292820.0   9778118.0
2016-08   9268421.0  1576236.0  332226.0  11176883.0
2016-09  10540924.0  1820131.0  381686.0  12742741.0
2016-10  11755221.0  2002384.0  422395.0  14180000.0
2016-11  13135961.0  2233394.0  459469.0  15828824.0
2016-12  14850066.0  2445242.0  495457.0  17790765.0
2017-01   1775240.0   537257.0   59176.0   2371673.0
2017-02   2730955.0   749489.0   93691.0   3574135.0
2017-03   4103534.0  1111284.0  151265.0   5366083.0
2017-04   5414526.0  1377278.0  200573.0   6992377.0
2017-05   6741464.0  1653691.0  248944.0   8644099.0
2017-06   8026026.0  2015786.0  302485.0  10344297.0
2017-07   9363517.0  2368458.0  357407.0  12089382.0
2017-08  10745340.0  2698124.0  413825.0  13857289.0
2017-09  12241793.0  3028465.0  480438.0  15750696.0
2017-10  13579609.0  3270521.0  533858.0  17383988.0
2017-11  15111292.0  3620414.0  591736.0  19323442.0
2017-12  17050804.0  3892937.0  654646.0  21598387.0
2018-01   1903357.0   748007.0   91408.0   2742772.0
2018-02   2972445.0  1097075.0  147019.0   4216539.0

In [121]:
df_test = get_life_insurance(df_2016)
df_test

,个人寿险,新业务,续期业务,银行保险,新业务,续期业务,团体业务,新业务,续期业务,合计
2016-01,6055209.0,2558126.0,3497083.0,733209.0,670284.0,62925.0,156290.0,156158.0,132.0,6944708.0
2016-02,7852705.0,3195138.0,4657567.0,862488.0,746535.0,115953.0,259085.0,258859.0,226.0,8974278.0
2016-03,9669568.0,3841791.0,5827777.0,996544.0,825833.0,170711.0,516624.0,516273.0,351.0,11182736.0
2016-04,11454219.0,4515213.0,6939006.0,1054568.0,852215.0,202353.0,675370.0,674843.0,527.0,13184157.0
2016-05,13291199.0,5193279.0,8097920.0,1132506.0,893289.0,239217.0,820932.0,820303.0,629.0,15244637.0
2016-06,15124947.0,5915639.0,9209308.0,1208941.0,931024.0,277917.0,955997.0,955105.0,892.0,17289885.0
2016-07,16820107.0,6581777.0,10238330.0,1268240.0,949380.0,318860.0,1049778.0,1048859.0,919.0,19138125.0
2016-08,19933607.0,8287343.0,11646264.0,NaN,NaN,NaN,1170748.0,1169699.0,1049.0,21104355.0
2016-09,21847120.0,9001439.0,12845681.0,NaN,NaN,NaN,1316872.0,1315571.0,1301.0,23163992.0
2016-10,23635205.0,9623349.0,14011856.0,NaN,NaN,NaN,1440779.0,1439283.0,1496.0,25075984.0
2016-11,25423388.0,10273546.0,15149842.0,NaN,NaN,NaN,1515959.0,1514123.0,1836.0,26939347.0
2016-12,27517909.0,11033128.0,16484781.0,NaN,NaN,NaN,1608449.0,1606482.0,1967.0,29126358.0

# 寿险数据

16年多出几列；需要额外处理

In [127]:
life_insurances = [get_life_insurance(i) for i in [df_2017, df_2018]]
life_insurance = pd.concat(life_insurances, axis=0)
life_insurance

,个人业务,新业务,续期业务,团体业务,新业务,续期业务,合计
2017-01,9487722.0,4433720.0,5054002.0,143712.0,143613.0,99.0,9631434.0
2017-02,12205319.0,5595738.0,6609581.0,307062.0,306887.0,175.0,12512381.0
2017-03,15164087.0,6957978.0,8206109.0,570413.0,570124.0,289.0,15734500.0
2017-04,17746040.0,8002132.0,9743908.0,713063.0,712610.0,453.0,18459103.0
2017-05,20266188.0,8944318.0,11321870.0,851077.0,850529.0,548.0,21117265.0
2017-06,22783107.0,9875961.0,12907146.0,987535.0,986789.0,746.0,23770642.0
2017-07,25061935.0,10691198.0,14370737.0,1076311.0,1075478.0,833.0,26138246.0
2017-08,27442000.0,11556600.0,15885400.0,1173292.0,1172340.0,952.0,28615292.0
2017-09,30090870.0,12610216.0,17480654.0,1301705.0,1300476.0,1229.0,31392575.0
2017-10,32399433.0,13423332.0,18976101.0,1421787.0,1420048.0,1739.0,33821220.0
2017-11,34671788.0,14246624.0,20425164.0,1488173.0,1485922.0,2251.0,36159961.0
2017-12,37313856.0,15164150.0,22149706.0,1550319.0,1547830.0,2489.0,38864175.0
2018-01,11596221.0,3911078.0,7685143.0,150081.0,149772.0,309.0,11746302.0
2018-02,14809769.0,4892811.0,9916958.0,259782.0,259327.0,455.0,15069551.0

In [128]:
life_2016 = get_life_insurance(df_2016)
life_2016

,个人寿险,新业务,续期业务,银行保险,新业务,续期业务,团体业务,新业务,续期业务,合计
2016-01,6055209.0,2558126.0,3497083.0,733209.0,670284.0,62925.0,156290.0,156158.0,132.0,6944708.0
2016-02,7852705.0,3195138.0,4657567.0,862488.0,746535.0,115953.0,259085.0,258859.0,226.0,8974278.0
2016-03,9669568.0,3841791.0,5827777.0,996544.0,825833.0,170711.0,516624.0,516273.0,351.0,11182736.0
2016-04,11454219.0,4515213.0,6939006.0,1054568.0,852215.0,202353.0,675370.0,674843.0,527.0,13184157.0
2016-05,13291199.0,5193279.0,8097920.0,1132506.0,893289.0,239217.0,820932.0,820303.0,629.0,15244637.0
2016-06,15124947.0,5915639.0,9209308.0,1208941.0,931024.0,277917.0,955997.0,955105.0,892.0,17289885.0
2016-07,16820107.0,6581777.0,10238330.0,1268240.0,949380.0,318860.0,1049778.0,1048859.0,919.0,19138125.0
2016-08,19933607.0,8287343.0,11646264.0,NaN,NaN,NaN,1170748.0,1169699.0,1049.0,21104355.0
2016-09,21847120.0,9001439.0,12845681.0,NaN,NaN,NaN,1316872.0,1315571.0,1301.0,23163992.0
2016-10,23635205.0,9623349.0,14011856.0,NaN,NaN,NaN,1440779.0,1439283.0,1496.0,25075984.0
2016-11,25423388.0,10273546.0,15149842.0,NaN,NaN,NaN,1515959.0,1514123.0,1836.0,26939347.0
2016-12,27517909.0,11033128.0,16484781.0,NaN,NaN,NaN,1608449.0,1606482.0,1967.0,29126358.0

In [129]:
life_2016['新业务']

                新业务       新业务        新业务
2016-01   2558126.0  670284.0   156158.0
2016-02   3195138.0  746535.0   258859.0
2016-03   3841791.0  825833.0   516273.0
2016-04   4515213.0  852215.0   674843.0
2016-05   5193279.0  893289.0   820303.0
2016-06   5915639.0  931024.0   955105.0
2016-07   6581777.0  949380.0  1048859.0
2016-08   8287343.0       NaN  1169699.0
2016-09   9001439.0       NaN  1315571.0
2016-10   9623349.0       NaN  1439283.0
2016-11  10273546.0       NaN  1514123.0
2016-12  11033128.0       NaN  1606482.0

In [130]:
life_2016.columns

Index(['个人寿险', '新业务', '续期业务', '银行保险', '新业务', '续期业务', '团体业务', '新业务', '续期业务',
       '合计'],
      dtype='object')

In [131]:
life_2016['新业务'].columns = ['个寿新', '银保新', '团险新']
life_2016

,个人寿险,新业务,续期业务,银行保险,新业务,续期业务,团体业务,新业务,续期业务,合计
2016-01,6055209.0,2558126.0,3497083.0,733209.0,670284.0,62925.0,156290.0,156158.0,132.0,6944708.0
2016-02,7852705.0,3195138.0,4657567.0,862488.0,746535.0,115953.0,259085.0,258859.0,226.0,8974278.0
2016-03,9669568.0,3841791.0,5827777.0,996544.0,825833.0,170711.0,516624.0,516273.0,351.0,11182736.0
2016-04,11454219.0,4515213.0,6939006.0,1054568.0,852215.0,202353.0,675370.0,674843.0,527.0,13184157.0
2016-05,13291199.0,5193279.0,8097920.0,1132506.0,893289.0,239217.0,820932.0,820303.0,629.0,15244637.0
2016-06,15124947.0,5915639.0,9209308.0,1208941.0,931024.0,277917.0,955997.0,955105.0,892.0,17289885.0
2016-07,16820107.0,6581777.0,10238330.0,1268240.0,949380.0,318860.0,1049778.0,1048859.0,919.0,19138125.0
2016-08,19933607.0,8287343.0,11646264.0,NaN,NaN,NaN,1170748.0,1169699.0,1049.0,21104355.0
2016-09,21847120.0,9001439.0,12845681.0,NaN,NaN,NaN,1316872.0,1315571.0,1301.0,23163992.0
2016-10,23635205.0,9623349.0,14011856.0,NaN,NaN,NaN,1440779.0,1439283.0,1496.0,25075984.0
2016-11,25423388.0,10273546.0,15149842.0,NaN,NaN,NaN,1515959.0,1514123.0,1836.0,26939347.0
2016-12,27517909.0,11033128.0,16484781.0,NaN,NaN,NaN,1608449.0,1606482.0,1967.0,29126358.0

In [132]:
life_2016.columns = ['个人寿险', '个寿新', '个寿续', '银行保险', '银保新', '银保续', '团体业务', '团险新', '团险续', '合计']
life_2016

,个人寿险,个寿新,个寿续,银行保险,银保新,银保续,团体业务,团险新,团险续,合计
2016-01,6055209.0,2558126.0,3497083.0,733209.0,670284.0,62925.0,156290.0,156158.0,132.0,6944708.0
2016-02,7852705.0,3195138.0,4657567.0,862488.0,746535.0,115953.0,259085.0,258859.0,226.0,8974278.0
2016-03,9669568.0,3841791.0,5827777.0,996544.0,825833.0,170711.0,516624.0,516273.0,351.0,11182736.0
2016-04,11454219.0,4515213.0,6939006.0,1054568.0,852215.0,202353.0,675370.0,674843.0,527.0,13184157.0
2016-05,13291199.0,5193279.0,8097920.0,1132506.0,893289.0,239217.0,820932.0,820303.0,629.0,15244637.0
2016-06,15124947.0,5915639.0,9209308.0,1208941.0,931024.0,277917.0,955997.0,955105.0,892.0,17289885.0
2016-07,16820107.0,6581777.0,10238330.0,1268240.0,949380.0,318860.0,1049778.0,1048859.0,919.0,19138125.0
2016-08,19933607.0,8287343.0,11646264.0,NaN,NaN,NaN,1170748.0,1169699.0,1049.0,21104355.0
2016-09,21847120.0,9001439.0,12845681.0,NaN,NaN,NaN,1316872.0,1315571.0,1301.0,23163992.0
2016-10,23635205.0,9623349.0,14011856.0,NaN,NaN,NaN,1440779.0,1439283.0,1496.0,25075984.0
2016-11,25423388.0,10273546.0,15149842.0,NaN,NaN,NaN,1515959.0,1514123.0,1836.0,26939347.0
2016-12,27517909.0,11033128.0,16484781.0,NaN,NaN,NaN,1608449.0,1606482.0,1967.0,29126358.0

In [133]:
life_insurance.columns

Index(['个人业务', '新业务', '续期业务', '团体业务', '新业务', '续期业务', '合计'], dtype='object')

In [134]:
life_insurance.columns = ['个人寿险', '个寿新', '个寿续', '团体业务', '团险新', '团险续', '合计']
life_insurance

,个人寿险,个寿新,个寿续,团体业务,团险新,团险续,合计
2017-01,9487722.0,4433720.0,5054002.0,143712.0,143613.0,99.0,9631434.0
2017-02,12205319.0,5595738.0,6609581.0,307062.0,306887.0,175.0,12512381.0
2017-03,15164087.0,6957978.0,8206109.0,570413.0,570124.0,289.0,15734500.0
2017-04,17746040.0,8002132.0,9743908.0,713063.0,712610.0,453.0,18459103.0
2017-05,20266188.0,8944318.0,11321870.0,851077.0,850529.0,548.0,21117265.0
2017-06,22783107.0,9875961.0,12907146.0,987535.0,986789.0,746.0,23770642.0
2017-07,25061935.0,10691198.0,14370737.0,1076311.0,1075478.0,833.0,26138246.0
2017-08,27442000.0,11556600.0,15885400.0,1173292.0,1172340.0,952.0,28615292.0
2017-09,30090870.0,12610216.0,17480654.0,1301705.0,1300476.0,1229.0,31392575.0
2017-10,32399433.0,13423332.0,18976101.0,1421787.0,1420048.0,1739.0,33821220.0
2017-11,34671788.0,14246624.0,20425164.0,1488173.0,1485922.0,2251.0,36159961.0
2017-12,37313856.0,15164150.0,22149706.0,1550319.0,1547830.0,2489.0,38864175.0
2018-01,11596221.0,3911078.0,7685143.0,150081.0,149772.0,309.0,11746302.0
2018-02,14809769.0,4892811.0,9916958.0,259782.0,259327.0,455.0,15069551.0

In [135]:
life = pd.concat([life_2016, life_insurance], axis=0)
life

,个人寿险,个寿新,个寿续,合计,团体业务,团险新,团险续,银保新,银保续,银行保险
2016-01,6055209.0,2558126.0,3497083.0,6944708.0,156290.0,156158.0,132.0,670284.0,62925.0,733209.0
2016-02,7852705.0,3195138.0,4657567.0,8974278.0,259085.0,258859.0,226.0,746535.0,115953.0,862488.0
2016-03,9669568.0,3841791.0,5827777.0,11182736.0,516624.0,516273.0,351.0,825833.0,170711.0,996544.0
2016-04,11454219.0,4515213.0,6939006.0,13184157.0,675370.0,674843.0,527.0,852215.0,202353.0,1054568.0
2016-05,13291199.0,5193279.0,8097920.0,15244637.0,820932.0,820303.0,629.0,893289.0,239217.0,1132506.0
2016-06,15124947.0,5915639.0,9209308.0,17289885.0,955997.0,955105.0,892.0,931024.0,277917.0,1208941.0
2016-07,16820107.0,6581777.0,10238330.0,19138125.0,1049778.0,1048859.0,919.0,949380.0,318860.0,1268240.0
2016-08,19933607.0,8287343.0,11646264.0,21104355.0,1170748.0,1169699.0,1049.0,NaN,NaN,NaN
2016-09,21847120.0,9001439.0,12845681.0,23163992.0,1316872.0,1315571.0,1301.0,NaN,NaN,NaN
2016-10,23635205.0,9623349.0,14011856.0,25075984.0,1440779.0,1439283.0,1496.0,NaN,NaN,NaN
2016-11,25423388.0,10273546.0,15149842.0,26939347.0,1515959.0,1514123.0,1836.0,NaN,NaN,NaN
2016-12,27517909.0,11033128.0,16484781.0,29126358.0,1608449.0,1606482.0,1967.0,NaN,NaN,NaN
2017-01,9487722.0,4433720.0,5054002.0,9631434.0,143712.0,143613.0,99.0,NaN,NaN,NaN
2017-02,12205319.0,5595738.0,6609581.0,12512381.0,307062.0,306887.0,175.0,NaN,NaN,NaN
2017-03,15164087.0,6957978.0,8206109.0,15734500.0,570413.0,570124.0,289.0,NaN,NaN,NaN
2017-04,17746040.0,8002132.0,9743908.0,18459103.0,713063.0,712610.0,453.0,NaN,NaN,NaN
2017-05,20266188.0,8944318.0,11321870.0,21117265.0,851077.0,850529.0,548.0,NaN,NaN,NaN
2017-06,22783107.0,9875961.0,12907146.0,23770642.0,987535.0,986789.0,746.0,NaN,NaN,NaN
2017-07,25061935.0,10691198.0,14370737.0,26138246.0,1076311.0,1075478.0,833.0,NaN,NaN,NaN
2017-08,27442000.0,11556600.0,15885400.0,28615292.0,1173292.0,1172340.0,952.0,NaN,NaN,NaN
2017-09,30090870.0,12610216.0,17480654.0,31392575.0,1301705.0,1300476.0,1229.0,NaN,NaN,NaN
2017-10,32399433.0,13423332.0,18976101.0,33821220.0,1421787.0,1420048.0,1739.0,NaN,NaN,NaN
2017-11,34671788.0,14246624.0,20425164.0,36159961.0,1488173.0,1485922.0,2251.0,NaN,NaN,NaN
2017-12,37313856.0,15164150.0,22149706.0,38864175.0,1550319.0,1547830.0,2489.0,NaN,NaN,NaN
2018-01,11596221.0,3911078.0,7685143.0,11746302.0,150081.0,149772.0,309.0,NaN,NaN,NaN
2018-02,14809769.0,4892811.0,9916958.0,15069551.0,259782.0,259327.0,455.0,NaN,NaN,NaN

# 寿险单月数据

In [136]:
life_s = life.diff()
life_s['2016-01'] = life['2016-01']
life_s['2017-01'] = life['2017-01']
life_s['2018-01'] = life['2018-01']
life_s

,个人寿险,个寿新,个寿续,合计,团体业务,团险新,团险续,银保新,银保续,银行保险
2016-01,6055209.0,2558126.0,3497083.0,6944708.0,156290.0,156158.0,132.0,670284.0,62925.0,733209.0
2016-02,1797496.0,637012.0,1160484.0,2029570.0,102795.0,102701.0,94.0,76251.0,53028.0,129279.0
2016-03,1816863.0,646653.0,1170210.0,2208458.0,257539.0,257414.0,125.0,79298.0,54758.0,134056.0
2016-04,1784651.0,673422.0,1111229.0,2001421.0,158746.0,158570.0,176.0,26382.0,31642.0,58024.0
2016-05,1836980.0,678066.0,1158914.0,2060480.0,145562.0,145460.0,102.0,41074.0,36864.0,77938.0
2016-06,1833748.0,722360.0,1111388.0,2045248.0,135065.0,134802.0,263.0,37735.0,38700.0,76435.0
2016-07,1695160.0,666138.0,1029022.0,1848240.0,93781.0,93754.0,27.0,18356.0,40943.0,59299.0
2016-08,3113500.0,1705566.0,1407934.0,1966230.0,120970.0,120840.0,130.0,NaN,NaN,NaN
2016-09,1913513.0,714096.0,1199417.0,2059637.0,146124.0,145872.0,252.0,NaN,NaN,NaN
2016-10,1788085.0,621910.0,1166175.0,1911992.0,123907.0,123712.0,195.0,NaN,NaN,NaN
2016-11,1788183.0,650197.0,1137986.0,1863363.0,75180.0,74840.0,340.0,NaN,NaN,NaN
2016-12,2094521.0,759582.0,1334939.0,2187011.0,92490.0,92359.0,131.0,NaN,NaN,NaN
2017-01,9487722.0,4433720.0,5054002.0,9631434.0,143712.0,143613.0,99.0,NaN,NaN,NaN
2017-02,2717597.0,1162018.0,1555579.0,2880947.0,163350.0,163274.0,76.0,NaN,NaN,NaN
2017-03,2958768.0,1362240.0,1596528.0,3222119.0,263351.0,263237.0,114.0,NaN,NaN,NaN
2017-04,2581953.0,1044154.0,1537799.0,2724603.0,142650.0,142486.0,164.0,NaN,NaN,NaN
2017-05,2520148.0,942186.0,1577962.0,2658162.0,138014.0,137919.0,95.0,NaN,NaN,NaN
2017-06,2516919.0,931643.0,1585276.0,2653377.0,136458.0,136260.0,198.0,NaN,NaN,NaN
2017-07,2278828.0,815237.0,1463591.0,2367604.0,88776.0,88689.0,87.0,NaN,NaN,NaN
2017-08,2380065.0,865402.0,1514663.0,2477046.0,96981.0,96862.0,119.0,NaN,NaN,NaN
2017-09,2648870.0,1053616.0,1595254.0,2777283.0,128413.0,128136.0,277.0,NaN,NaN,NaN
2017-10,2308563.0,813116.0,1495447.0,2428645.0,120082.0,119572.0,510.0,NaN,NaN,NaN
2017-11,2272355.0,823292.0,1449063.0,2338741.0,66386.0,65874.0,512.0,NaN,NaN,NaN
2017-12,2642068.0,917526.0,1724542.0,2704214.0,62146.0,61908.0,238.0,NaN,NaN,NaN
2018-01,11596221.0,3911078.0,7685143.0,11746302.0,150081.0,149772.0,309.0,NaN,NaN,NaN
2018-02,3213548.0,981733.0,2231815.0,3323249.0,109701.0,109555.0,146.0,NaN,NaN,NaN